@page
@model JobEntryApp.Pages.TaskTemplatesModel

<h1>Task Templates</h1>

<p class="text-muted">
    This page will display task templates used to generate job tasks.
</p>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Task Name</th>
            <th>Stage</th>
            <th>Offset Days</th>
        </tr>
    </thead>

    <tbody>

        @if (Model.TaskTemplates != null)
        {
            foreach (var task in Model.TaskTemplates)
            {
                <tr>
                    <td>@task.TaskName</td>
                    <td>@task.Stage</td>
                    <td>@task.OffsetDays</td>
                </tr>
            }
        }

    </tbody>

</table>